name: Python package

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build_test:
    name: Test on ${{ matrix.config.os }} with Python ${{ matrix.config.python-version }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        config:
        - { os: ubuntu-latest, python-version: 3.6, args: "torch==1.3.0+cpu -f https://download.pytorch.org/whl/torch_stable.html"}
        - { os: macOS-latest, python-version: 3.6, args: "torch"}
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.config.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.config.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ${{ matrix.config.args }}
        pip install -r requirements-dev.txt
        python setup.py install
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest
